.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 72px 27px;
}

.card__rating {
  margin-left: auto;
}

.card__description {
  align-self: flex-start;
  margin-left: 30px;

  & h3 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }

  & p {
    margin: 0;
    margin-bottom: 12px;
    line-height: 21px;
    text-transform: uppercase;

    & span {
      display: inline-block;
      vertical-align: middle;
      width: 110px;
      margin-right: 2px;
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    padding: 3px 16px;
    font-size: 14px;
    line-height: 21px;
  }
}

.card__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  & ul {
    @include reset-list;

    margin-bottom: 45px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 120px;

    & li {
      margin-left: 5px;
      width: 18px;
      height: 17px;
      background-repeat: no-repeat;
      background-image: url("../img/sprite/icon-star.svg");
    }
  }

  & p {
    margin: 0;
    padding: 5px 14px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    background-color: $bg-color;
  }
}
