.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: 35px 55px;
}

.search-form label,
.search-form ::placeholder,
.search-form input {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form input {
  margin: 0;
  width: 345px;
  padding: 10px 40px 10px 12px;
  background-color: #f1f1f1;
  border: none;
}

.search-form__row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:nth-last-of-type(2),
  &:last-of-type {
    width: 50%;
  }

  &:nth-last-of-type(2) input,
  &:last-of-type input {
    width: 38px;
  }
}

.search-form__col button {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
}

.search-form__btn {
  width: 100%;
}
