.social {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  width: 150px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  background-color: $blue-color;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;

  &--tw {
    background-image: url("../img/sprite/icon-twitter.svg");
  }

  &--fb {
    background-image: url("../img/sprite/icon-facebook.svg");
  }

  &--yt {
    background-image: url("../img/sprite/icon-youtube.svg");
  }

  &:hover,
  &:active {
    background-color: #669dc0;
  }

  &:active {
    filter: brightness(0.7);
  }
}


