html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  font-family: $font-text;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $color-text;
  background-color: $bg-color;
}

.wrapper {
  width: 1056px;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}
